.cover-main{
  display: flex;
}
.main{
  justify-content: space-between;
  flex-direction: column;
  width: calc(100vw - 150px);
}
.main-content{
  /* height: 100vh; */
  padding: 10px 80px 10px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu{
  width: 150px;
}
#logo{
  width: 310px;
  height: 122px;

}
.banner{
  text-align: center;
}
.page-content{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1113px) {
 
}
/* Mobile */
@media (max-width: 739px) {
 
  .cover-main{
    display: block;
  }
  .main{
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  .main-content{
    /* height: 100vh; */
    padding: 10px 40px 10px 40px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu{
  width: calc(100vw - 150px);

  }
  .logo{
    text-align: center;
  }
  #logo{
    width: 200px;
    height: 80px;
  }
  .banner{
    text-align: center;
  }
  .page-content{
    display: block;
    justify-content: space-between;
  }

  
}